{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 */
#}

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{{ 'Toggle navigation'|t}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site_name %}
        <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">{{ site_name }}</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {{ page.menu }}
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ header_image }}')">
  <div class="container">
    <div class="row">
      {% if node %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-heading">
            <h1>{{ title }}</h1>
            <span class="meta">{{ subimtted }}</span>
          </div>
        </div>
      {% else %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>{% if title %} {{ title }} {% else %} {{ site_name }} {% endif %}</h1>
            {% if title %}
              <hr class="small">
              <span class="subheading">
              {% if site_slogan %}
                {{ site_slogan }}
                {% endif %}
            </span>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ messages }}
        {% if tabs %}
          <div class="tabs">{{ tabs }}</div>
        {% endif %}
        {{ page.help }}
        {% if action_links %}
          <ul class="action-links">{{ action_links }}</ul>
        {% endif %}
        {{ page.content }}
      </div>
    </div>
  </div>
</article>

<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a target="_blank" href="{{ twitter }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a target="_blank" href="{{ facebook }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a target="_blank" href="{{ github }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        {{ page.footer }}
      </div>
    </div>
  </div>
</footer>
